login{
	cursor: hand;
	width: 140px;
	height: 20px;
	/*background: url('image/login1.gif');*/
}
input{
	cursor: hand;
	border: solid 1px #666;
	font-size: 12px;
}
p,form{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body{
	font-weight: bold;
	font-size: 20px;
	background-color: ;
}
